<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hb.sts05.model.GuestDao">
  	<select id="selectAll" resultType="com.hb.sts05.model.GuestVo">
  	SELECT * FROM GUEST
  	</select>
  	<select id="selectOne" parameterType="int" resultType="com.hb.sts05.model.GuestVo">
  	SELECT * FROM GUEST WHERE SABUN=#{value}
  	</select>
  	<update id="updateOne" parameterType="com.hb.sts05.model.GuestVo">
  	UPDATE GUEST SET NAME=#{name},PAY=#{pay} WHERE SABUN=#{sabun}
  	</update>
  	<insert id="insertOne" parameterType="com.hb.sts05.model.GuestVo">
  	INSERT INTO GUEST VALUES (#{sabun},#{name},SYSDATE,#{pay})
  	</insert>
  	<delete id="deleteOne" parameterType="int">
  	DELETE FROM GUEST WHERE SABUN=#{value}
  	</delete>
  </mapper>
  
  
  
  
  
  